body{
    background-color:antiquewhite;
}

.nav_bar{
    width: 100%;
    height: 70px;
    position: relative;
}

.nav{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.nav .left{
    width: 40px;
    height: 40px;
}

.nav .mid ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
}

.nav .right{
    display: flex;
    flex-direction: row;
}

.nav .right img{
    width: 25px;
    height: 25px;
    margin: 7.5px;
}

.nav .right .search{
    padding: 5px;
    width: 85%;
    font-size: 20px;
    border-radius: 10px;
    border-color: #EBEFF6;
}

.content1{
    width: 100%;
    height: calc(100vh - 70px);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.content1 .box1{
    width: 41%;
    height: 70%;
    background-color: orange;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content1 .box1 .a{
    width: 100%;
    height: 60%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content1 .box1 .a .a1{
    background-color: aquamarine;
    height: 50%;
}

.content1 .box1 .a .a2{
    background-color: rgb(137, 56, 181);
    height: 25%;
}

.content1 .box1 .a .a3{
    background-color: rgb(62, 153, 22);
    height: 25%;
}

.content1 .box1 .b{
    width: 100%;
    height: 15%;
    background-color: blueviolet;
}

.content1 .box1 .c{
    width: 100%;
    height: 15%;
    background-color: blueviolet;
}

.content1 .box2{
    width: 30%;
    height: 90%;
    margin-right: 5%;
    border-radius: 10px;
    overflow: hidden;
}

.content1 .box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content2{
    width: 100%;
    height: 689px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content2 .a{
    width: 40%;
    height: 88px;
    background-color: red;
    margin-top: 50px;
}

.content2 .b{
    width: 90%;
    height: 400px;
    background-color: blue;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.content2 .b1{
    width: 22%;
    height: 100%;
    background-color: aquamarine;
}

.content2 .b2{
    width: 22%;
    height: 100%;
    background-color: aquamarine;

}

.content2 .b3{
    width: 22%;
    height: 100%;
    background-color: aquamarine;

}

.content2 .b4{
    width: 22%;
    height: 100%;
    background-color: aquamarine;
}

.content3{
    width: 100%;
    height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content3 .a{
    width: 90%;
    height: 360px;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    margin-top: 50px;
}

.content3 .a .a1{
    width: 45%;
    height: 100%;
    background-color: brown;
}

.content3 .a .a2{
    width: 45%;
    height: 100%;
    background-color: brown;
}

.content3 .b{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    margin-bottom: 50px;
}

.content3 .b .b1{
    width: 20%;
    height: 100%;
    background-color: brown;
}

.content3 .b .b2{
    width: 20%;
    height: 100%;
    background-color: brown;
}

.content3 .b .b3{
    width: 20%;
    height: 100%;
    background-color: brown;
}

.content3 .b .b4{
    width: 20%;
    height: 100%;
    background-color: brown;
}

.content4{
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content4 .a{
    width: 20%;
    height: 88px;
    background-color: cyan;
    margin-top: 5%;
}

.content4 .b{
    width: 54%;
    height: 77px;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content4 .b1{
    width: 32%;
    height: 90%;
    background-color: chocolate;
}

.content4 .b2{
    width: 32%;
    height: 90%;
    background-color: chocolate;
}

.content4 .b3{
    width: 32%;
    height: 90%;
    background-color: chocolate;
}

.content4 .c{
    width: 90%;
    height: 463px;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}

.content4 .c .c1{
    width: 23%;
    height: 100%;
    background-color:chartreuse;
}

.content4 .c .c2{
    width: 23%;
    height: 100%;
    background-color:chartreuse;
}

.content4 .c .c3{
    width: 23%;
    height: 100%;
    background-color:chartreuse;
}

.content4 .c .c4{
    width: 23%;
    height: 100%;
    background-color:chartreuse;
}

.content4 .d{
    width: 20%;
    height: 72px;
    background-color: cyan;
    margin-bottom: 5%;
}

.content5{
    width: 100%;
    height: 587px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content5 .a{
    width: 20%;
    height: 88px;
    margin-top: 50px;
    background-color: darkorchid;
}

.content5 .b{
    width: 90%;
    height: 259px;
    margin-bottom: 50px;
    background-color: darkorchid;
    display: flex;
    justify-content: space-between;
}

.content5 .b .b1{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.content5 .b .b2{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.content5 .b .b3{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.content6{
    width: 100%;
    height: 983px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content6 .a{
    width: 20%;
    height: 88px;
    background-color: cornflowerblue;
    margin-top: 50px;
}

.content6 .b{
    width: 90%;
    height: 503px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

.content6 .b .b1{
    width: 32%;
    height: 100%;
    background-color:crimson
}

.content6 .b .b2{
    width: 32%;
    height: 100%;
    background-color:crimson
}

.content6 .b .b3{
    width: 32%;
    height: 100%;
    background-color:crimson
}

.content6 .c{
    width: 20%;
    height: 72px;
    background-color: cornflowerblue;
    margin-bottom: 50px;
}

.content7{
    width: 100%;
    height: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A4074D;
}

.content7 .left{
    width: 30%;
    height: 86px;
    background-color: darkgoldenrod;
    margin-left: 5%;
}

.content7 .right{
    width: 40%;
    height: 86px;
    background-color: darkgoldenrod;
    margin-right: 5%;
}

.content8{
    width: 100%;
    height: 382px;
    display: flex;
    justify-content: space-between;
    background-color: #1A2434;
}

.content8 .left{
    width: 23%;
    height: 170px;
    background-color:darkslategrey;
    margin-left: 5%;
    margin-top: 80px;
}

.content8 .right{
    width: 54%;
    height: 222px;
    background-color:darkslategrey;
    margin-right: 5%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.content8 .right1{
    width: 20%;
    height: 100%;
    background-color: deepskyblue;
}

.content8 .right2{
    width: 25%;
    height: 80%;
    background-color: deepskyblue;
}

.content8 .right3{
    width: 45%;
    height: 45%;
    background-color: deepskyblue;
}